* {
    padding: 0;
    margin: 0;
    font-family: fantasy;
}

body {
    background-color:rgb(247, 247, 247)

}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background: url("./images/banner3.jpg") center / cover;
}

/*nav bar text*/
a {
    color:  black;
    text-decoration: underline
}

p {
    font-size: 20px;
    top: 10px;
    color:  #535353;
    float: left;
    width: 65%;
    margin-top: 3%;
    margin-bottom: 61px;
    margin-left: 316px;

}

.intro {
    text-align: center;
    padding: 213px;
}

.intro h2 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: bold;
}

img { 
    padding-top: 0%;
    border: 2px solid #ef664d;
    width:  386px;
    height: 325px;
    object-fit: cover;
    
 }

/* header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    position: relative;
    bottom: 715px;
} */

header nav ul {
    list-style-type: none;
    margin-top: -35%;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.aboutme {
    text-align: center;
}

h3 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 137px;
    padding-top: 169px;
}

.aboutme h3 {
    padding-bottom: 36px;
    padding-top: 50px;
}

.portfolio h3 {
    padding-right: 60px;
}
.mypic img {
    border: 2px solid #ef664d;
    border-radius: 279px;
    float: center;
}


@media only screen and (max-width: 900px) {
    .aboutme {
        display: block;
    }
    
    body {
        background-color: black;
    }
    /* ul {
        display: block;
    } */
    
}






















































/*banner properties*/
/* .banner, .b1 {
    display: block;
    width: 100%;
    height: 175px;
    margin-bottom: 40px;
}

.banner span {
    display: inline-block;
    font-size: 40px;
    background-color:#d4f0ea;
    color:  #535353;
    position: relative;
}

.container {
    position: relative;
} */
  
/* .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#398a9e;
    color:  #535353;
} */
  


/* h3 {
    display: inline-block;
    font-size: 40px;
    background-color:#398a9e;
    color:  #535353;
    margin-top: 10em;
}

h4 {
    display: inline-block;
    font-size: 40px;
    background-color:#398a9e;
    color:  #535353;
    margin-top: 2em;
}

.flex-container {
    display: flex;
    justify-content: safe;
  }

.flex-container2 {
    display: flex;
    justify-content: safe;
  }
  
.aboutme, .contact, .work {
    margin: 10px;
    padding: 10px;
    font-size: 45px;
    border-right: solid;
    text-align: right;
    flex: 0 0 230px;
   color:  #585555;
}

.aboutme2, .contact2 {
    margin: 10px;
    padding: 20px;
    font-size: 30px; 
    color: #535353;
   }

.aboutme2 {
    font-size: 25px;
}

.mypic {
    float: left;
    width: 85px;
    height: 130px;
    margin-top: 5px;
    margin-right: 25px;
    border: solid;
    border-width: thick;
    color: black;
    border-color: #398a9e;
}
.work2 {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100%;
    position: relative;
}
  
.box1 {
    background-color: #f1f1f1;
    margin: 10px;
    width: 100%;
    height: 500px;
    font-size: 30px;
    border: solid;
    border-width: thick;
    color: black;
    border-color: #398a9e;
    background-image: url(./images/coderefactor.jpg);
    background-size: cover;
    
  }

.box2 {
    background-color: #f1f1f1;
    margin: 10px;
    width: 100%;
    height: 150px;
    font-size: 30px;
    border: solid;
    border-width: thick;
    color: black;
    border-color: #398a9e;
    background-image: url(./images/box2.jpg);
    cursor: pointer;
    background-size: cover;
}

.box3 {
    background-color: #f1f1f1;
    margin: 10px;
    width: 100%;
    height: 150px;
    font-size: 30px;
    border: solid;
    border-width: thick;
    color: black;
    border-color: #398a9e;
    background-image: url(./images/box3.jpg);
    cursor: pointer;
    background-size: cover;
}

.box4 {
    background-color: #f1f1f1;
    margin: 10px;
    width: 100%;
    height: 150px;
    font-size: 30px;
    border: solid;
    border-width: thick;
    color: black;
    border-color: #398a9e;
    background-image: url(./images/box4.jpg);
    cursor: pointer;
    background-size: cover;
  }

.box5 {
    background-color: #f1f1f1;
    margin: 10px;
    width: 100%;
    height: 150px;
    font-size: 30px;
    border: solid;
    border-width: thick;
    color: black;
    border-color: #398a9e;
    background-image: url(./images/box5.jpg);
    cursor: pointer;
    background-size: cover;
}
  
ul {
      display: flex;
      justify-content: space-between;
  }
  
li {
    padding-right: 30px;
    list-style: none; 
    margin-left: 1.6em;
    color: #535353;
}
  
.fade {
    opacity:0.5;
    transition: 1s ease;
}

:hover {
    opacity:1;
    transition: 1s ease;
}

@media only screen and (max-width: 900px) {
    .flex-container2 {
        display: block;
    }
    
    body {
        background-color: black;
    }
    ul {
        display: block;
    }
    
}

main {
    width: 100%;
}
footer {
    width: 100%;
}  */
